<%- include('header.ejs') %>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>KT Blog</h1>
                            <span class="subheading">I'm just a game enthusiast; I'm not very good at it.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    
                    <% if (articles.every(item => Object.keys(item).length !== 0)) { %>
                        <% articles.forEach(article => { %>
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="/post?id=<%= article.id %>">
                                <h2 class="post-title"><%= article.title %></h2>
                                <h3 class="post-subtitle"><%= article.subtitle %></h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!"><%= article.author %></a>
                                on <%= article.date %>
                                <a href="/delete_post?id=<%= article.id %>">✘</a>
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />
                      <% }) %>
                    <% } %>

                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/edit_post">Add New Post →</a></div>
                </div>
            </div>
        </div>

        <%- include('footer.ejs') %>